# 1 Listas de números
Considere a seguinte lista (execute a linha de código seguinte para que a lista fique definida no Jupyter)

In [6]:
lista = [1, 4, 6, 22, 4, 7, 13, 12, 2, 3, 5]

Lembre-se que existe:
* uma indexação que vai da esquerda para a direita e começa no 0, 
* uma indexação que vai da direita para a esquerda e começa no -1  



1.1 imprima o numero que está na posição de indice 2

In [43]:
print(lista[2])

carro

1.2 imprima o numero que está na penúltima posição da lista.

In [44]:
print(lista[-2])

boneca

1.3 imprima todos os números desta lista separados por espaços (use o atributo end). Lembre-se que com um ciclo for pode iterar diretamente pelos elementos da lista.

In [45]:
lista = [1, 4, 6, 22, 4, 7, 13, 12, 2, 3, 5]

for elemento in lista:
    print(elemento, end= " ")

1 4 6 22 4 7 13 12 2 3 5

1.4. Faça um programa que some todos os números pares desta lista e crie a lista pares, dos elementos pares da lista. imprima o resultado e a lista pares.

In [7]:
soma = 0
pares = []
for elemento in lista:
    if elemento % 2 == 0:
        soma += elemento
        pares.append(elemento)
print(f"A soma dos numeros pares da lista é {soma}")
print(f"Lista dos númeors pares: {pares}")

A soma dos numeros pares da lista é 50
Lista dos númeors pares: [2, 4, 6, 22, 4, 12]

1.5 Faça um programa que imprime o índice da posição e o valor de cada elemento da lista. Utilize a função enumerate.

In [8]:
for indice,valor in enumerate(lista):
    print(f"Na posição de indice {indice} está o {valor}")

Na posição de indice 0 está o 1
Na posição de indice 1 está o 2
Na posição de indice 2 está o 3
Na posição de indice 3 está o 5
Na posição de indice 4 está o 4
Na posição de indice 5 está o 6
Na posição de indice 6 está o 22
Na posição de indice 7 está o 4
Na posição de indice 8 está o 7
Na posição de indice 9 está o 13
Na posição de indice 10 está o 12

1.6 Crie uma lista com os números de 1 a 10 usando uma compreensão

In [1]:
lista = [i for i in range(1,10+1)]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1.7 Cria uma lista com os números pares de 100 a 140, inclusivé,  usando uma compreensão

In [2]:
lista = [i for i in range(100, 140+1, 2)]
print(lista)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140]

# 2 Listas de strings

Considere a seguinte lista: 

`nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]`



2.1 Recorrendo a um ciclo, itere pelos vários nomes e imprima para cada nome uma frase do tipo:

`Bom dia, Maria!`

Utilize uma formatted string.

In [9]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]

for nome in nomes:
    print(f"Bom dia, {nome}!")

Bom dia, Maria!
Bom dia, Manuel!
Bom dia, Luis!
Bom dia, Augusta!
Bom dia, Zé!
Bom dia, Tolentino!
Bom dia, Ana!

2.2 Crie uma lista ordenada alfabeticamente e imprima-a.

Resultado esperado: `['Ana', 'Augusta', 'Luis', 'Manuel', 'Maria', 'Tolentino', 'Zé']`

In [13]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]

# ordenação da lista alfabeticamente

nomes.sort()
nomes

# Resultado esperado: ['Ana', 'Augusta', 'Luis', 'Manuel', 'Maria', 'Tolentino', 'Zé']

['Ana', 'Augusta', 'Luis', 'Manuel', 'Maria', 'Tolentino', 'Zé']

2.3 Crie uma lista ordenada pelo número de carateres, de forma decrescente, e imprima-a.

Resultado esperado: `['Tolentino', 'Augusta', 'Manuel', 'Maria', 'Luis', 'Ana', 'Zé']`

In [17]:
# ordenação da lista pelo numero de carateres

nomes.sort(key=len, reverse=True)
nomes

# Resultado esperado: `['Tolentino', 'Augusta', 'Manuel', 'Maria', 'Luis', 'Ana', 'Zé']`

['Tolentino', 'Augusta', 'Manuel', 'Maria', 'Luis', 'Ana', 'Zé']

2.4 Crie, com um ciclo for, uma lista com a primeira letra de cada nome.

Resultado esperado: `['M', 'M', 'L', 'A', 'Z', 'T', 'A']`

In [18]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]

letras = []

for nome in nomes:
    letras.append(nome[0])
    
letras

# Resultado esperado: ['M', 'M', 'L', 'A', 'Z', 'T', 'A']

['M', 'M', 'L', 'A', 'Z', 'T', 'A']

2.5 Crie com uma compreensão uma lista que guarda a primeira letra de cada nome.

In [10]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]


letras = [nome[0] for nome in nomes]

letras

['M', 'M', 'L', 'A', 'Z', 'T', 'A']

2.6 Crie a lista `ladies` que guarda os nomes terminados em "a".


Resultado esperado: `['Maria', 'Augusta', 'Ana']`

In [19]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]

ladies = []
for nome in nomes:
    if nome[-1] == 'a':
        ladies.append(nome)
ladies

# Resultado esperado: ['Maria', 'Augusta', 'Ana']

['Maria', 'Augusta', 'Ana']

2.7 Crie a lista `ladies` que guarda os nomes terminados em "a", usando uma compreensão

In [11]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]

ladies = [nome for nome in nomes if nome[-1] == 'a']

ladies

['Maria', 'Augusta', 'Ana']

# 3 Processamento de listas com strings

Considere a seguinte lista de strings:

In [3]:
dados = [
    "Pedro Tamen, 1/1/1934", 
    "Almeida Garrett, 4/2/1799",
    "Camilo Pessanha, 7/9/1867",
    "Almada Negreiros, 7/5/1893",
    "Ibn Bassam, 21/11/1058",
    "Antonio Aleixo, 18/2/1899",
    "Agustina Bessa-Luís, 15/10/1922",
    "Ricardo Reis, 19/9/1887",
    "Mario Sá-Carneiro, 19/5/1890",
    "Mario Cesariny, 9/9/1923",
    "Luis Camões, 10/6/1524",
    "Miguel Torga, 12/8/1907",
    "Lidia Jorge, 18/10/1946",
    "Natália Correia, 12/9/1923",
    "Tolentino Mendonça, 15/12/1965",
    "Alberto Caeiro, 16/5/1889",
    "Jose Saramago, 16/11/1922",
    "Cesario Verde, 25/2/1855",
    "Luiz Pacheco, 7/5/1925",
    "Manuel Alegre, 12/5/1936",
    "Fernando Pessoa, 13/6/1888",
    "Herberto Helder, 23/11/1930",
    "Florbela Espanca, 8/12/1894"
]

### Relembrando...

No processamento de strings, dois métodos são muito úteis, split e find:

In [66]:
 "Pedro Tamen, 1/1/1934".split(', ')

['Pedro Tamen', '1/1/1934']

In [67]:
 "Pedro Tamen, 1/1/1934".split(',')[0]

'Pedro Tamen'

In [68]:
nome = "Pedro Tamen, 1/1/1934"
nome[:nome.find(' ')] # retorna o índice da primeira ocorrência de ' '

'Pedro'

In [69]:
nome = "Pedro Tamen, 1/1/1934"
nome[:nome.find(',')]

'Pedro Tamen'

In [2]:
nome = "Pedro Tamen, 1/1/1934"
nome.split()[1][:-1]

'Tamen'

As compreensões também são formas simples de transformar uma lista. Por exemplo, criemos a lista com a primeira letra de cada pessoa:

In [70]:
letras = [info[0] for info in dados]
print(letras)

['P', 'A', 'C', 'A', 'I', 'A', 'A', 'R', 'M', 'M', 'L', 'M', 'L', 'T', 'A', 'J', 'C', 'L', 'M', 'F', 'H', 'F']

Criemos uma lista de anos de nascimento de cada pessoa:

In [71]:
anos = [int(info.split('/')[-1]) for info in dados]
print(anos)

[1934, 1799, 1867, 1893, 1058, 1899, 1922, 1887, 1890, 1923, 1524, 1907, 1923, 1965, 1889, 1922, 1855, 1925, 1936, 1888, 1930, 1894]

Criemos um dicionário de anos, onde a chave é a primeira letra do nome e o valor o ano nascimento:

In [80]:
aniversarios = {info[0]:int(info[-4:]) for info in dados}
print(aniversarios)

{'P': 1934, 'A': 1889, 'C': 1855, 'I': 1058, 'R': 1887, 'M': 1936, 'L': 1925, 'T': 1965, 'J': 1922, 'F': 1894, 'H': 1930}

Transformando o dicionario anterior numa lista de tuplos é muito simples com o construtor list, não esquecendo de usar o método items() que especifica que queremos transformar os items, pares (chave e valor):

In [83]:
listaAniversarios = list(aniversarios.items())
print(listaAniversarios)

[('P', 1934), ('A', 1889), ('C', 1855), ('I', 1058), ('R', 1887), ('M', 1936), ('L', 1925), ('T', 1965), ('J', 1922), ('F', 1894), ('H', 1930)]

### Exercicios 
Considere a seguinte lista de strings:

In [4]:
dados = [
    "Pedro Tamen, 1/1/1934", 
    "Almeida Garrett, 4/2/1799",
    "Camilo Pessanha, 7/9/1867",
    "Almada Negreiros, 7/5/1893",
    "Ibn Bassam, 21/11/1058",
    "Antonio Aleixo, 18/2/1899",
    "Agustina Bessa-Luís, 15/10/1922",
    "Ricardo Reis, 19/9/1887",
    "Mario Sá-Carneiro, 19/5/1890",
    "Mario Cesariny, 9/9/1923",
    "Luis Camões, 10/6/1524",
    "Miguel Torga, 12/8/1907",
    "Lidia Jorge, 18/10/1946",
    "Natália Correia, 12/9/1923",
    "Tolentino Mendonça, 15/12/1965",
    "Alberto Caeiro, 16/5/1889",
    "Jose Saramago, 16/11/1922",
    "Cesario Verde, 25/2/1855",
    "Luiz Pacheco, 7/5/1925",
    "Manuel Alegre, 12/5/1936",
    "Fernando Pessoa, 13/6/1888",
    "Herberto Helder, 23/11/1930",
    "Florbela Espanca, 8/12/1894"
]

3.1 Crie, com um ciclo for, uma lista de strings, onde cada string tem o nome e apelido de cada pessoa. Utilize por exemplo o método split.

   * Exemplo de excerto da lista: `nomes = ["Pedro Tamen", "Almeida Garrett", ...]`

In [5]:
nomes = []

for elemento in dados:
    nomes.append(elemento.split(',')[0])
    
print(nomes)

['Pedro Tamen', 'Almeida Garrett', 'Camilo Pessanha', 'Almada Negreiros', 'Ibn Bassam', 'Antonio Aleixo', 'Agustina Bessa-Luís', 'Ricardo Reis', 'Mario Sá-Carneiro', 'Mario Cesariny', 'Luis Camões', 'Miguel Torga', 'Lidia Jorge', 'Natália Correia', 'Tolentino Mendonça', 'Alberto Caeiro', 'Jose Saramago', 'Cesario Verde', 'Luiz Pacheco', 'Manuel Alegre', 'Fernando Pessoa', 'Herberto Helder', 'Florbela Espanca']

3.2 Crie uma lista de strings, onde cada string tem a primeira letra (abreviatura) do nome e o apelido de cada pessoa. Experimente utilizar uma compreensão.

   * Exemplo de excerto da lista:  `nomes = ["P.Tamen", "A.Garrett", ...]`

In [6]:
nome = 'Ibn Bassam'
lista = nome.split()
lista[0][0]

'I'

In [7]:
nomesAbreviados = [f"{nome[0]}.{nome.split()[1]}" for nome in nomes]

print(nomesAbreviados)

['P.Tamen', 'A.Garrett', 'C.Pessanha', 'A.Negreiros', 'I.Bassam', 'A.Aleixo', 'A.Bessa-Luís', 'R.Reis', 'M.Sá-Carneiro', 'M.Cesariny', 'L.Camões', 'M.Torga', 'L.Jorge', 'N.Correia', 'T.Mendonça', 'A.Caeiro', 'J.Saramago', 'C.Verde', 'L.Pacheco', 'M.Alegre', 'F.Pessoa', 'H.Helder', 'F.Espanca']

3.3 Ordene a lista pelo apelido

Resultado esperado: `['M.Alegre', 'A.Aleixo', 'I.Bassam', 'A.Bessa-Luís', ...`

In [8]:
nomesAbreviados.sort(key= lambda nome:nome[2:])
print(nomesAbreviados)

['M.Alegre', 'A.Aleixo', 'I.Bassam', 'A.Bessa-Luís', 'A.Caeiro', 'L.Camões', 'M.Cesariny', 'N.Correia', 'F.Espanca', 'A.Garrett', 'H.Helder', 'L.Jorge', 'T.Mendonça', 'A.Negreiros', 'L.Pacheco', 'C.Pessanha', 'F.Pessoa', 'R.Reis', 'J.Saramago', 'M.Sá-Carneiro', 'P.Tamen', 'M.Torga', 'C.Verde']

In [9]:
nomesAbreviados.sort(key= lambda nome:nome.split('.')[1])
print(nomesAbreviados)

['M.Alegre', 'A.Aleixo', 'I.Bassam', 'A.Bessa-Luís', 'A.Caeiro', 'L.Camões', 'M.Cesariny', 'N.Correia', 'F.Espanca', 'A.Garrett', 'H.Helder', 'L.Jorge', 'T.Mendonça', 'A.Negreiros', 'L.Pacheco', 'C.Pessanha', 'F.Pessoa', 'R.Reis', 'J.Saramago', 'M.Sá-Carneiro', 'P.Tamen', 'M.Torga', 'C.Verde']

3.4 Usando a lista `dados` do exercício anterior, crie um dicionário de anos de nascimento em que a chave é a sigla e apelido, e o valor o ano de nascimento.

Exemplo de excerto do dicionário: `anosNascimento = {"P. Tamen": 1934, "A. Garrett":1799, ...}`

In [10]:
anosNascimento = {}

for elemento in dados:
    sigla = elemento[0]
    apelido = elemento.split()[1][:-1]
    ano = int(elemento.split("/")[-1])

    anosNascimento[f"{sigla}. {apelido}"] = ano

print(anosNascimento)

{'P. Tamen': 1934, 'A. Garrett': 1799, 'C. Pessanha': 1867, 'A. Negreiros': 1893, 'I. Bassam': 1058, 'A. Aleixo': 1899, 'A. Bessa-Luís': 1922, 'R. Reis': 1887, 'M. Sá-Carneiro': 1890, 'M. Cesariny': 1923, 'L. Camões': 1524, 'M. Torga': 1907, 'L. Jorge': 1946, 'N. Correia': 1923, 'T. Mendonça': 1965, 'A. Caeiro': 1889, 'J. Saramago': 1922, 'C. Verde': 1855, 'L. Pacheco': 1925, 'M. Alegre': 1936, 'F. Pessoa': 1888, 'H. Helder': 1930, 'F. Espanca': 1894}

3.5 Converta o dicionario numa lista e ordene-a pelo ano de nascimento de forma decrescente. Use o método items() ds dicionários, e o construtor list.

In [11]:
listaAnos = list(anosNascimento.items())

listaAnos.sort(key= lambda elemento: elemento[1], reverse = True)
print(listaAnos)

[('T. Mendonça', 1965), ('L. Jorge', 1946), ('M. Alegre', 1936), ('P. Tamen', 1934), ('H. Helder', 1930), ('L. Pacheco', 1925), ('M. Cesariny', 1923), ('N. Correia', 1923), ('A. Bessa-Luís', 1922), ('J. Saramago', 1922), ('M. Torga', 1907), ('A. Aleixo', 1899), ('F. Espanca', 1894), ('A. Negreiros', 1893), ('M. Sá-Carneiro', 1890), ('A. Caeiro', 1889), ('F. Pessoa', 1888), ('R. Reis', 1887), ('C. Pessanha', 1867), ('C. Verde', 1855), ('A. Garrett', 1799), ('L. Camões', 1524), ('I. Bassam', 1058)]

# 4. Dicionários
Num infantário perguntaram às crianças qual a prenda de Natal que queriam. Resultou na seguinte lista:

In [12]:
lista_brinquedos = ["bola", "boneca", "carro", "boneca", "boneca", "bola", "boneca", "carro", 
                    "boneca", "boneca", "bola", "boneca", "carro", "boneca", "boneca", 
                    "bola", "boneca", "carro", "boneca", "boneca", "bola", "carro", "bola", 
                    "carro", "boneca", "boneca", "carro", "carro", "carro"]

4.1 Crie o set de brinquedos pretendidos

Resultado esperado: `{'bola', 'boneca', 'carro'}  - o resultado pode estar noutra ordem pois é um set!`

In [13]:
setBrinquedos = set(lista_brinquedos)
setBrinquedos

# Resultado esperado: {'bola', 'boneca', 'carro'}  - o resultado pode estar noutra ordem pois é um set!

{'bola', 'boneca', 'carro'}

4.2 Crie um dicionario em que, para cada brinquedo (chave), guarda a quantidade de brinquedos (valor)

Resultado esperado: `{'bola': 6, 'boneca': 14, 'carro': 9}`

In [14]:
d = {} 

for brinquedo in setBrinquedos:
    nBrinquedos = lista_brinquedos.count(brinquedo)
    d[brinquedo] =  nBrinquedos

d

# resultado esperado: {'bola': 6, 'boneca': 14, 'carro': 9}

{'carro': 9, 'boneca': 14, 'bola': 6}

4.3 Transforme os items do dicionario (lembre-se do método para obter os items...) numa lista de tuplos, com a função list

Resultado esperado: `[('bola', 6), ('boneca', 14), ('carro', 9)]`

In [15]:
listaEncomendas = list(d.items())
listaEncomendas
# Resultado esperado: [('bola', 6), ('boneca', 14), ('carro', 9)]

[('carro', 9), ('boneca', 14), ('bola', 6)]

4.4 Ordene decrescentemente a lista, pela quantidade de brinquedos

Resultado esperado: `[('boneca', 14), ('carro', 9), ('bola', 6)]`

In [16]:
listaEncomendas.sort(key=lambda elemento:elemento[1], reverse=True)
listaEncomendas

[('boneca', 14), ('carro', 9), ('bola', 6)]

# 5 Explorando um dicionário

Considere o dicionário brinquedos que tem o inventário dos brinquedos de várias crianças:
* Manuel tem um carro e uma bola
* Maria tem uma boneca e uma bola
* Luís tem uma bola, boneca e carro

Exemplo de um dicionário.

In [17]:
brinquedos = {
    "Manuel": ["carro", "bola"],
    "Maria": ["boneca", "bola"],
    "Luis": ["bola", "boneca", "carro"]
    }

5.1 Considerando que o dicionário segue a estrutura anterior, escreva uma instrução que compute quantas crianças existem no dicionário

Resultado esperado: `Existem 3 crianças`

In [18]:
print(f"Existem {len(brinquedos)} crianças")

Existem 3 crianças

5.2 Considerando que o dicionário segue a estrutura anterior, imprima a informação de quantos brinquedos cada criança tem, iterando com um ciclo for pelos items do dicionário, e usando uma string formatada.

Resultado esperado:

```
Manuel: 2 brinquedos 
Maria: 2 brinquedos 
Luis: 3 brinquedos
```

In [19]:
for nome,lista in brinquedos.items():
    print(f"{nome}: {len(lista)} brinquedos")

Manuel: 2 brinquedos
Maria: 2 brinquedos
Luis: 3 brinquedos

5.3 Imaginando que conhece a estrutura mas não o conteúdo do dicionário, verifique a quantidade total de brinquedos existente.

Exemplo de resultado: `Existem 7 brinquedos`

In [20]:
n_brinquedos = 0
for lista in brinquedos.values():
    n_brinquedos += len(lista)

print(f"Existem {n_brinquedos} brinquedos")

Existem 7 brinquedos

5.4 crie um código que verifique se existe alguma criança com um carro

In [21]:
for lista in brinquedos.values():
    if 'carro' in lista:
        print('Existe')
        break
else:
     print('Não existe')

Existe

5.5 crie um código que indique os nomes das crianças que têm um carro.

Resultado esperado: `Manuel Maria Luis `

In [22]:
for nome,lista in brinquedos.items():
    if "bola" in lista:
        print(nome, end = " ")

Manuel Maria Luis

5.6 crie um código que indique quantas crianças têm uma boneca

Resultado esperado: `Existem 2 crianças com uma boneca`

In [24]:
n_bonecas = sum([1 for lista in brinquedos.values() 
                     if "boneca" in lista ])

print(f"Existem {n_bonecas} crianças com uma boneca")

Existem 2 crianças com uma boneca

5.7 crie uma instrução para adicionar um pião à lista de brinquedos do Manuel

In [25]:
brinquedos["Manuel"].append("pião")

5.8 remova a bola da lista de brinquedos do Manuel

In [26]:
brinquedos["Manuel"].remove("bola")